/* font-family: 'Oxygen', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Prata', serif;
font-family: 'Gentium Basic', serif; 
font-family: 'Julius Sans One', sans-serif;
font-family: 'Sintony', sans-serif;
*/

.App {
  text-align: center;
  font-family: 'Sintony', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #9ed85bd0;

  /* background-image: linear-gradient(
    315deg,
    hsl(108, 50%, 71%) 40%,
    #64be3a 64%
  ); */

  height: 60px;
  padding: 20px;
  color: rgb(49, 51, 49);
}

.App-title {
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  margin-top: -95px;
}

.App-intro {
  font-size: large;
}
html {
  background-image: './img/theone.jpg';
}

.text-secondary {
  font-size: 20px;
  color: #ffffff;
  font-weight: bolder;
}
.navbar {
  margin-top: auto;
}
#top-filler {
  margin-bottom: auto;
}

/* #nav-container {
  align-items: flex-end;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
