.App {
  text-align: center;
  font-family: 'Sintony', sans-serif;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 50px;
  opacity: 1;
}

.App-header {
  /* background-color: #7cd417d0; */
  height: 75px;
  padding: 20px;
}

.App-title {
  font-family: 'Satisfy', cursive;
  font-size: 2.75em;
  margin-top: -95px;
  color: white;
  text-shadow: 2px 2px #c1ceb3;
}

.App-intro {
  font-size: large;
}

#main {
  position: absolute;
}

.container {
  margin-right: auto;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  width: 100%;
}
.text-second {
  font-size: 20px;
  color: #ffffff;
  font-weight: bolder;
}
a.text-second:visited {
  color: #ffffff;
}

.navbar {
  margin-top: auto;
}
#top-filler {
  margin-bottom: auto;
}
