body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../src/img/theone.jpg');
}

/* body {
  background: url('../../img/image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: bisque;
} */
