@media only screen and (max-width: 1220px) {
  #main {
    max-width: 280px !important;
    /* background-color: red !important; */
  }
}
@media only screen and (max-width: 960px) {
  #main {
    max-width: 265px !important;
  }
}
@media only screen and (max-width: 600px) {
  #main {
    max-width: 1px !important;
    /* background-color: green; */
    display: none;
  }
  .grid {
    /* float: right; */
    position: absolute;
    top: 1;
    left: 1;
    /* width: 100%; */
    /* background-color: aqua; */
  }
}
